<h2><%=@sub.title%></h2>
<h3><%=@sub.description %></h2>

<form action="<%=sub_url(@sub)%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
        <button>Delete Sub</button>
</form>

<ul>
    <% @sub.posts.each do |post| %>
        <li><a href="<%= post_url(post) %>"><%= post.title %></a></li>
    <% end %>
</ul>